.ticker-box {
    padding: 0 1rem;
    margin-right: 10px;
    background-color: #1a412c;
    border-radius: 5px;
    color: #fff;
}

.ticker-price-box {
    display: flex;
    justify-content: row;
}

.price-change-down {
    color: red;
}

.price-change-up {
    color: green;
}

p {
    font-size: large;
}